.social-btn {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 40%;
	padding: 5vw 0;
	margin: 0 auto;
}

.contact-us {
	background: transparent;
}

.social-btn>li>a {
 color: white;
 text-align: center;
 display: block;
 font-family: 'Playball', cursive;
 font-size: 1.5vw;
 min-width: 2.5vw;
 min-height: 0.5vw;
 padding: 1vw 4vw 1vw 7vw;
 border: 0.1vw solid #ffffff;
 border-radius: 1.5vw;
 transition:all 200ms ease;
 -webkit-border-radius: 1.5vw;
 -moz-border-radius: 1.5vw;
 -ms-border-radius: 1.5vw;
 -o-border-radius: 1.5vw;
}

.vk-btn {
	background: url("../img/vk.svg") 2.5vw center no-repeat;
	background-size: 22%;
}

.vk-btn:hover {
	padding: 0.8vw 3.8vw 0.8vw 6.8vw;
 	border: 0.3vw solid rgb(12, 79, 202);
	border-radius: 1.5vw;
	background: url("../img/vk.svg") 2.4vw center no-repeat;
	background-size: 22%;
	position: relative;
	transform: scale(1.1);
}

.wa-btn {
	margin-top: 1.5vw;
	background: url("../img/wa.svg") 3vw center no-repeat;
	background-size: 11%;
}

.wa-btn:hover {
	background: url("../img/wa.svg") 2.8vw center no-repeat;
	background-size: 11%;
	padding: 0.8vw 3.8vw 0.8vw 6.8vw;
 	border: 0.3vw solid rgb(14, 153, 14);
	border-radius: 1.5vw;
	position: relative;
	transform: scale(1.1);
}

.insta-btn {
	margin-left: 2vw;
	background: url("../img/insta.svg") 3vw center no-repeat;
	background-size: 18%;
}

.insta-btn:hover {
	background: url("../img/insta.svg") 2.8vw center no-repeat;
	background-size: 18%;
	padding: 0.8vw 3.8vw 0.8vw 6.8vw;
 	border: 0.3vw solid rgb(158, 4, 145);
	border-radius: 1.5vw;
	position: relative;
	transform: scale(1.1);
}