.social-btn {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 40%;
	margin: 50px auto;
}

.social-btn>li>a {
 color: white;
 text-align: center;
 display: block;
 font-family: 'Playball', cursive;
 font-size: 20px;
 min-width: 50px;
 min-height: 25px;
 padding: 15px 40px 15px 100px;
 border: 1px solid #ffffff;
 border-radius: 8px;
 transition:all 200ms ease;
 -webkit-transition:all 200ms ease;
 -moz-transition:all 200ms ease;
 -ms-transition:all 200ms ease;
 -o-transition:all 200ms ease;
}

.vk-btn {
	background: url("../img/vk.svg") 30px center no-repeat;
	background-size: 22%;
}

.wa-btn {
	margin-top: 20px;
	background: url("../img/wa.svg") 40px center no-repeat;
	background-size: 11%;
}

.insta-btn {
	margin-left: 20px;
	background: url("../img/insta.svg") 40px center no-repeat;
	background-size: 18%;
}