

.social {
	float: left;
}

.phone {
	float: right;	
}

.navbar {
	float: left;
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
	width: 100%;
	height: 100%;
}

nav::after {
	content: "";
	display: block;
	clear: both;
}






/* nav::after {
	content: "";
	display: table;
	clear: both;
	height: 5px;
	border: 1px solid;
}
ul:first-child>li {
	float: left;
}
ul:first-child>li:not(:last-child) {
	margin-right: 10px;
}

ul:last-child {
	float: right;
}

ul:nth-child(2) {
	display: flex;
	justify-content: space-around;

} */