header {
	position: relative;
	z-index: 1;
	position: sticky;
	top: 0;
}

.social, .navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social>li:not(:last-child) {
	margin-right: 1vw;
}

.social a {
	display: block;
	min-width: 2vw;
	min-height: 2vw;
	transition:all 200ms ease;
	-webkit-transition:all 200ms ease;
	-moz-transition:all 200ms ease;
	-ms-transition:all 200ms ease;
	-o-transition:all 200ms ease;
}

.vk {
	background: url("../img/vk.svg") no-repeat;
	background-size: cover;
}

.vk:hover {
	background: url("../img/vk_hover.svg") no-repeat;
	background-size: cover;
}

.inst {
	background: url("../img/insta.svg") no-repeat;
	background-size: cover;
}

.inst:hover {
	background: url("../img/insta_hover.svg") no-repeat;
	background-size: cover;
}

.wa {
	background: url("../img/wa.svg") no-repeat;
	background-size: cover;
}

.wa:hover {
	background: url("../img/wa_hover.svg") no-repeat;
	background-size: cover;
}

.social {
	margin-left: 2vw;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4vw;
	background-color: rgba(0 ,0 ,0 , .9);
}

ul{
	color: #FFF;
}

.phone>li>a{
	color: #fff;
	font-family: 'Playball', cursive;
	margin-right: 2vw;
	font-size: 1.5vw;
}

.phone>li::before {
	content: ' ';
	background: url("../img/call.svg") left no-repeat;
	background-size: contain;
	display: inline-block;
	min-width: 1.5vw;
	min-height: 1.5vw;
	margin-right: 1vw;
}

.phone>li:hover::before{
	content: ' ';
	background: url("../img/call_hover.svg") left no-repeat;
	background-size: contain;
	display: inline-block;
	min-width: 1.5vw;
	min-height: 1.5vw;
	margin-right: 1vw;
	transition:all 200ms ease;
	-webkit-transition:all 200ms ease;
	-moz-transition:all 200ms ease;
	-ms-transition:all 200ms ease;
	-o-transition:all 200ms ease;
}

.phone>li>a:hover{
	color:  rgb(251, 255, 194);	
	transition:all 200ms ease;
	-webkit-transition:all 200ms ease;
	-moz-transition:all 200ms ease;
	-ms-transition:all 200ms ease;
	-o-transition:all 200ms ease;
}

.navbar>li>a{
	color: #fff;
	font-family: 'Playball', cursive;
	font-size: 1.4vw;
	text-transform: uppercase;
	padding: 0.3vw 1vw;
	border-radius: 2vw;
	border: 1px solid transparent;
	-webkit-border-radius: 2vw;
	-moz-border-radius: 2vw;
	-ms-border-radius: 2vw;
	-o-border-radius: 2vw;
}
.navbar>li>a:hover{
	border: 1px solid rgb(148, 37, 37);
	border-radius: 2vw;
	padding: 0.3vw 1vw;
	background: linear-gradient(to bottom right, rgba(129, 10, 10, .7), rgba(17, 3, 146, 0.7));
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-webkit-border-radius: 2vw;
	-moz-border-radius: 2vw;
	-ms-border-radius: 2vw;
	-o-border-radius: 2vw;
}

@media only screen and (max-device-width: 480px) {
	nav .container{
		display: none;
	}
	nav {
		height: 15vw;
		background-color: rgba(0 ,0 ,0 , .96);
	}

	.social a {
		min-width: 3.5vh;
		min-height: 3.5vh;
	}

	.social>li:not(:last-child) {
		margin-right: 2.5vh;
	}

	.phone>li>a{
		color: #fff;
		font-family: 'Playball', cursive;
		margin-right: 2vw;
		font-size: 1.5vw;
	}

	.phone>li::before {
		content: ' ';
		background: url("../img/call.svg") left no-repeat;
		background-size: contain;
		display: inline-block;
		min-width: 1.5vw;
		min-height: 1.5vw;
		margin-right: 1vw;
	}
}