body {
	background: fixed url("../img/main1-bg.jpg")  center center no-repeat;
	background-size: cover;
}
main {
	background-color: rgba(128, 77, 116, 0.7);
}

h1{
	display: none;
}

.logo {
	display: block;
	width: 60%;
	padding: 11vw 0 5vw 0;
}

section>h2{
	color: rgb(194, 11, 11);
	font-family: 'Playball', cursive;
	font-size: 8vw;
	text-align: center;
	box-shadow: 0 20px 8px -20px rgb(177, 14, 14);
	text-shadow: 2px 1px rgba(17, 3, 146, 0.9);;
}
section{
	background: 
	url(../img/bg-img-1.png) 13vw 11vw no-repeat,
	url(../img/bg-img-2.png) 65vw 40vw no-repeat;
	background-size: 20%, 20%;
} 
section>.description{
	display: block;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 2vw;
	padding: 9vw 0;
	text-indent: 5vw;
	line-height: 2.2vw;
	letter-spacing: 0.1vw;
}
section>.container{
	width: 60vw
}

