body {
	background: fixed url("../img/main1-bg.jpg")  center center no-repeat;
	background-size: cover;
}
main {
	background-color: rgba(17, 3, 146, 0.7);
}

h1{
	display: none;
}

.logo {
	display: block;
	width: 60%;
	padding: 50px 0;
}

section>h2{
	color: rgb(194, 11, 11);
	font-family: 'Playball', cursive;
	font-size: 58px;
	text-align: center;
	box-shadow: 0 20px 8px -20px rgb(177, 14, 14);
	text-shadow: 2px 1px #990000;
}
section{
	background: 
	url(../img/bg-img-1.png) 150px 100px no-repeat,
	url(../img/bg-img-2.png) 970px 400px no-repeat;
	background-size: 20%, 20%;
} 
section>.description{
	display: block;
	color: white;
	font-family: 'Playball', cursive;
	font-size: 25px;
	margin-top: 80px;
	text-indent: 60px;
	line-height: 40px;
	letter-spacing: 3px;
}
section>.container{
	width: 55%;
}

section.service{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	min-height: 500px;
	background: initial;
	background-color: rgba(17, 3, 146, 0.9);
}

section.service>h2{
	flex-basis: 100%;
}