@import url('https://fonts.googleapis.com/css?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
.social-btn {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 40%;
	padding: 5vw 0;
	margin: 0 auto;
}

.contact-us {
	background: transparent;
}

.social-btn>li>a {
 color: white;
 text-align: center;
 display: block;
 font-family: 'Playball', cursive;
 font-size: 1.5vw;
 padding: 1vw 4vw 1vw 7vw;
 border: 0.1vw solid #ffffff;
 border-radius: 1.5vw;
 transition:all 200ms ease;
 -webkit-border-radius: 1.5vw;
 -moz-border-radius: 1.5vw;
 -ms-border-radius: 1.5vw;
 -o-border-radius: 1.5vw;
}

.vk-btn {
	background: url("../../dist/img/vk.min.svg") 2.5vw center no-repeat;
	background-size: 22%;
}

.vk-btn:hover {
	padding: 0.8vw 3.8vw 0.8vw 6.8vw;
 	border: 0.3vw solid rgb(12, 79, 202);
	border-radius: 1.5vw;
	background: url("../../dist/img/vk.min.svg") 2.4vw center no-repeat;
	background-size: 22%;
	position: relative;
	transform: scale(1.1);
}

.wa-btn {
	margin-top: 1.5vw;
	background: url("../../dist/img/wa.min.svg") 3vw center no-repeat;
	background-size: 11%;
}

.wa-btn:hover {
	background: url("../../dist/img/wa.min.svg") 2.8vw center no-repeat;
	background-size: 11%;
	padding: 0.8vw 3.8vw 0.8vw 6.8vw;
 	border: 0.3vw solid rgb(14, 153, 14);
	border-radius: 1.5vw;
	position: relative;
	transform: scale(1.1);
}

.insta-btn {
	margin-left: 2vw;
	background: url("../../dist/img/insta.min.svg") 3vw center no-repeat;
	background-size: 18%;
}

.insta-btn:hover {
	background: url("../../dist/img/insta.min.svg") 2.8vw center no-repeat;
	background-size: 18%;
	padding: 0.8vw 3.8vw 0.8vw 6.8vw;
 	border: 0.3vw solid rgb(158, 4, 145);
	border-radius: 1.5vw;
	position: relative;
	transform: scale(1.1);
}

@media only screen and (max-device-width: 480px) {
	.social-btn>li>a {
		font-size: 3vh;
		padding: 2vh 4vh 2vh 7vh;
		min-width: 85vw;
		border: 0.1vw solid #ffffff;
		border-radius: 1.5vw;
		-webkit-border-radius: 1.5vw;
		-moz-border-radius: 1.5vw;
		-ms-border-radius: 1.5vw;
		-o-border-radius: 1.5vw;
		margin-bottom: 3.5vh;
	}

	.social-btn {
		flex-wrap: wrap;
		width: 90%;
		padding: 5vh 0;
	}

	.vk-btn {
		background: url("../../dist/img/vk.min.svg") 2.5vw center no-repeat;
		background-size: contain;
	}
	
	.vk-btn:hover {
		padding: 2vh 4vh 2vh 7vh;
		border: 0.1vw solid #ffffff;
		border-radius: 1.5vw;
		background: url("../../dist/img/vk.min.svg") 2.4vw center no-repeat;
		background-size: contain;
		position: relative;
		transform: scale(1.0);
	}
	
	.wa-btn {
		margin-top: 0;
		background: url("../../dist/img/wa.min.svg") 3vw center no-repeat;
		background-size: 15%;
		word-spacing: -0.9vw;
	}
	
	.wa-btn:hover {
		background: url("../../dist/img/wa.min.svg") 2.8vw center no-repeat;
		background-size: 15%;
		padding: 2vh 4vh 2vh 7vh;
		border: 0.1vw solid #ffffff;
		border-radius: 1.5vw;
		position: relative;
		transform: scale(1.0);
	}
	
	.insta-btn {
		margin-left: 0vw;
		background: url("../../dist/img/insta.min.svg") 3vw center no-repeat;
		background-size: 15%;
	}
	
	.insta-btn:hover {
		background: url("../../dist/img/insta.min.svg") 2.8vw center no-repeat;
		background-size: 15%;
		padding: 2vh 4vh 2vh 7vh;
		border: 0.1vw solid #ffffff;
		border-radius: 1.5vw;
		position: relative;
		transform: scale(1.0);
	}
}