body {
	background: fixed url("../../dist/img/main1-bg.min.jpg")  center center no-repeat;
	background-size: cover;
}
main {
	background-color: rgba(128, 77, 116, 0.7);
}

h1{
	display: none;
}

.logo {
	display: block;
	width: 60%;
	padding: 40vw 0 5vw 0;
	content: " ";
	background: url("../../dist/img/logo.min.png") center center no-repeat;
	background-size: contain;
}

section>h2{
	color: rgb(194, 11, 11);
	font-family: 'Playball', cursive;
	font-size: 8vw;
	text-align: center;
	box-shadow: 0 20px 8px -20px rgb(177, 14, 14);
	text-shadow: 2px 1px rgba(17, 3, 146, 0.9);;
}
section{
	background: 
	url(../img/bg-img-1.png) 13vw 11vw no-repeat,
	url(../img/bg-img-2.png) 65vw 29vw no-repeat;
	background-size: 20%, 20%;
} 
section>.description{
	display: block;
	color: white;
	font-family: 'PT sans', sans-serif;
	font-size: 2.5vw;
	padding: 9vw 0;
	/* text-indent: 5vw; */
	line-height: 2.5vw;
	letter-spacing: 0.01vw;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);;
}
section>.container{
	width: 60vw
}

.underline {
	text-decoration: underline;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);;
}

@media only screen and (max-device-width: 480px) {
	.logo {
		background-image: url("../../dist/img/logo-mobile.min.png");
		display: block;
		width: 95%;
		padding: 110vw 0 5vw 0;
		content: " ";
		background-size: contain;
	}

	body {
		background: fixed url("../../dist/img/main-bg-mobile.min.jpg") no-repeat;
		background-size: contain;
	}

	section>h2{
		font-size: 9vh;
	}

	section>.container {
		width: 95vw;
	}

	section>.description {
		font-size: 3vh;
		line-height: 3vh;
		letter-spacing: 0.01vh;

	}

	section{
		background: none;
	} 
}